@model Appointment
@{
    ViewData["Title"] = "Appointment Signup";
}

<h1>Sign Up for a Temple Tour</h1>

<div>
    <form method="post" class="form-group">

        @*I'm not 100% sure this is needed yet*@
        <input type="hidden" class="form-control" asp-for="@Model.AppointmentId" />
        <input type="hidden" class="form-control" asp-for="@Model.ApptTime" />

        <label asp-for="GroupName">Group Name:</label>
        <input class="form-control" asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Size of Group(1 to 15):</label>
        <input type="number" class="form-control" max="15" /><br />

        <label asp-for="Email">Email:</label>
        <input type="email" class="form-control" asp-for="Email" /><br />

        <label asp-for="Phone">Phone:</label>
        <input class="form-control" asp-for="Phone" /><br />

        <button type="submit" class="btn btn-success btn-sm float-end">Submit</button>
    </form>
</div>
