@{
    ViewData["Title"] = "Home Page";
}

<div class="text-byu mt-4">
    <h2 class="card-title">Layton Utah Temple Tours</h2>

    <div class="text-lg-start mb-3">

        <p>Use the "quantity" field to let us know how many people will be in your group. Thank you!</p>
        <p>We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping.</p>

        <p>When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.<p>

        <p>
            We can do groups on Saturday, please text me at 801-628-4488.
        </p>
    </div>
    <br />

    <div class="text-lg-start">
        <h4>General Tour Instructions:</h4>

        <p class="text-lg-start">Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</p>
        <p class="text-lg-start">Dress casual, except on Sunday</p>
    </div>
    <br />

    <div class="text-lg-start mb-3">
        <h4>Special Accommodations:</h4>
        <h5>(check the appropriate box when signing up for a tour)</h5>
        <p class="text-lg-start">Spanish-speaking tours are available, by request.</p>
    </div>
    <br />

    <div class="text-lg-start mb-3">
        <h4>Available Tours:</h4>

        <p class="text-lg-start">Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes</p>
        <p class="text-lg-start">Trailer Tour: On Sunday. Masks are required</p>

        <p class="text-lg-start">Please call or text 801-628-4488 with questions or special requests.</p>
    </div>

    <a asp-action="SignUpTimes" asp-controller="Home" class="btn btn-lg btn-byu text-white">Sign Up</a>
</div>
