@{
    ViewData["Title"] = "Appointment Signup";
}

@model TimeViewModel

<h1 class="card-title text-byu mt-4">Select a time for your tour:</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                @foreach (AppointmentTime t in ViewBag.AppointmentTimes)
                {
                    <a asp-controller="Home" asp-action="SignUpForm" asp-route-id="@t.TimeId" class="btn btn-block btn-secondary text-white">@t.Time --- @t.Date</a>
                }
            </div>
        </div>
    </div>

    <div page-inator="@Model.TimeInfo" page-action="SignUpTimes" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark"
         class="btn-group m-1">
    </div>
</div>

