@model SignUpGenius.Models.Appointment
@{
    ViewData["Title"] = "Appointment Signup";
}

<h1>Sign Up for a Temple Tour</h1>

<div>
    <form method="post">
        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Size of Group:</label>
        <input type="number" max="15" /><br />

        <label asp-for="Email">Email:</label>
        <input type="email" asp-for="Email" /><br />

        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" /><br />

        <button type="submit">Submit</button>
    </form>
</div>
