@{
    ViewData["Title"] = "Appointment Signup";
}



<h1 class="card-title text-byu mt-4">Select a time for your tour:</h1>


<div class="col">

        @foreach (AppointmentTime t in ViewBag.AppointmentTimes)
        {
            <a asp-controller="Home" asp-action="SignUpForm" asp-route-id="@t.TimeId" class="btn btn-secondary text-white">@t.Time --- @t.Date</a><br /><br />
        }

</div>